{% extends "root/default.html" %}
{% block title %} About | Meezan Digital {% endblock %}

{% block content %}

<section class="py-5 container">
    <h2 class="mb-4" style="color: var(--purple-main)">About Meezan Digital Banking</h2>

    <p>
        Meezan Digital Banking provides secure, fast and transparent Shariah-compliant services 
        including lockers, loans, account management, transactions, and digital transaction reports.
    </p>

    <h4 class="mt-5" style="color: var(--purple-dark)">Services Offered</h4>
    <ul>
        <li>Locker Facility</li>

        <li>Loan Management</li>

        <li>Account Management</li>

        <li>Daily Transactions</li>
        
        <li>Transaction Reports</li>
    </ul>

    <h4 class="mt-5" style="color: var(--purple-dark)">Head Office</h4>
    <p>SITE AREA, Karachi, Pakistan</p>
</section>

{% endblock %}
