<html style="background-color: #F5E9FF; margin: 0; padding: 0;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>Transaction Successful</title>
</head>

<body bgcolor="#F5E9FF" style="margin: 0; padding: 0;">

    <table cellpadding="0" cellspacing="0" align="center" style="max-width: 600px;">
        
        <tr>
            <td height="50"></td>
        </tr>

        <tr>
            <td>

                <!-- Outer Container -->
                <table cellpadding="0" cellspacing="0" width="100%" bgcolor="white"
                       style="border-left: 10px solid #C77DDB; 
                              border-right: 10px solid #C77DDB;">

                    <tr height="50"><td colspan="3"></td></tr>

                    <!-- Tick Icon -->
                    <tr align="center">
                        <td width="36"></td>
                        <td>
                            <img src="http://dgtlmrktng.s3.amazonaws.com/go/emails/generic-email-template/tick.png"
                                 width="50"
                                 style="filter: hue-rotate(245deg) saturate(180%);">
                        </td>
                        <td width="36"></td>
                    </tr>

                    <tr height="17"><td colspan="3"></td></tr>

                    <!-- Title -->
                    <tr align="center">
                        <td width="36"></td>
                        <td>
                            <h1 style="
                                color: #ca2bc7ff;
                                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                font-size: 30px;
                                font-weight: 700;
                                margin: 0;">
                                Payment Sent
                            </h1>
                        </td>
                        <td width="36"></td>
                    </tr>

                    <tr height="30"><td colspan="3"></td></tr>

                    <!-- Greeting + Details -->
                    <tr align="left">
                        <td width="36"></td>
                        <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#4A136F;">

                            <h2 style="
                                color: #c529bdff;
                                font-size: 16px;
                                margin: 0;
                                line-height: 22px;">
                                Your transaction was successful!
                            </h2>

                            <br>

                            <p style="color:#4A136F; font-size:14px; margin:0;">
                                <strong>Payment Details:</strong><br><br>

                                Sender: {sender_name}<br><br>
                                Recipient: {recipient_name}<br><br>
                                Card Number: {recipient_card_number}<br><br>
                                Amount: ₦{amount:.2f}<br>
                            </p>

                            <br>
                        </td>
                        <td width="36"></td>
                    </tr>

                    <tr height="30">
                        <td></td>
                        <td style="border-bottom: 1px solid #E2CFF4;"></td>
                        <td></td>
                    </tr>

                    <tr height="30">
                        <td colspan="3" align="center"
                            style="color:#6A1B9A;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
                            Thank You for Banking with Us
                        </td>
                    </tr>

                    <tr height="50"><td colspan="3"></td></tr>
                </table>
            </td>
        </tr>

        <tr><td height="50"></td></tr>

    </table>

</body>
</html>
