
{% extends 'user/default.html' %}

{% block content %}
  <h1>Transaction History</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Transaction Type</th>
        <th>Transaction Date</th>
        <th>Amount</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for item in transactions_with_pkt %}
        <tr>
          <td>{{ item.transaction.type }}</td>
          <td>{{ item.pkt_timestamp.strftime('%Y-%m-%d %H:%M:%S PKT') if item.pkt_timestamp else 'N/A' }}</td>
          <td>{{ item.transaction.amount }}</td>
          <td>{{ item.transaction.recipient_card_number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
